body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: #0F0F11;
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.navigation-container {
    width: 20%;
    max-width: 100px;
    min-width: 70px;
    border: 1px solid black;
}

.main {
    background-color: coral;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.tweets-search-container {
    height: 70px;
    background-color: red;
    margin: 20px;
}


.tweets-sidebar-container {
    background-color: cyan;
    flex: 1;
    display: flex;
}

.tweets-sidebar {
    width: 200px;
    height: 500px;
    margin: 20px;
    background-color: white;
}

.tweets-list {
    height: 500px;
    margin: 20px;
    background-color: #516bf0;
}

.tweet-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100px;
    margin: 10px
}

.navigation {
    color: white;
    margin-top: 30px;
}

.logo {
    display: flex;
    justify-content: center;
}
.home-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-top: 20px;
    border-right: 4px solid #00ADFF;
}

.fa-home {
    color: #00ADFF;
}
.profile-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.profile {
    width: 40px;
    height:40px;
    background-color: darkgreen;
    border-radius: 50%;
    border: 1px solid #979797;
}