.tweet-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #1c1c1c;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20px;
}

.tweet-user-info {
    height: 20px;
    display: flex;
    color: white;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.tweet-images-container {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border: 1px solid #1c1c1c;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    height: 500px;
}

.tweet-images-container img {
    width: 100%;
    height: 100%;
}

.tweet-video-container {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    height: 500px;
    border: 1px solid #1c1c1c;
    border-radius: 20px;
    overflow: hidden;
}

.tweet-video-container video {
    width: 100%;
    height: 100%;
}

.tweet-image {
    background-image: url(https://images.unsplash.com/photo-1602163825119-a790d0ab94d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80);
    flex-basis: 50%;
    background-size: cover;
    background-position: center;
    flex-grow: 1;
}

.tweet-text-container {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.74);
}

.tweet-date-container {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    color: #475250;
}

.tweet-user-profile {
    margin-left: 20px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #979797;
    background-position: center;
    background-size: cover;
}

.tweet-user-name-container {
    margin-left: 8px;
    color: white;
}

.tweet-user-fullname {
    font-size: 15px;
}

.tweet-user-username {
    font-size: 12px;
}

.next-page-container {
    border: 1px solid #00ADFF;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: #475250;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    height: 30px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    visibility: hidden;
}

.next-page-container:hover {
    background-color: #1c1c1c;
    color: white;
}